html {
  font-size: 62.5%; }

body {
  font-family: "montserrat", sans-serif;
  background-image: linear-gradient(#4e4e4e, #8d8c8c, #000); }

h1 {
  text-transform: uppercase;
  font-weight: 900; }

h2 {
  font-weight: 700;
  font-style: italic; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.h2__formulario, .h2__menu {
  margin-top: 3rem;
  font-size: 2rem; }

/* ANIMACIONES */
@keyframes opacidad {
  0% {
    opacity: 0;
    transform: scale(0, 0); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }

@keyframes opacidad_fondo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* HEADER */
header {
  background-color: #000;
  z-index: 1;
  box-shadow: 0px 5px 10px 0px black;
  padding: 0 5rem; }

.navbar-toggler {
  animation-name: opacidad;
  animation-duration: 1.5s;
  animation-delay: 0s; }

.header__logo {
  height: 7rem;
  animation-name: opacidad;
  animation-duration: 1.5s;
  animation-delay: 0s; }

@media screen and (min-width: 768px) {
  .header__nav {
    animation-name: opacidad;
    animation-duration: 1.5s;
    animation-delay: 0s; } }

.header__link {
  font-size: 2rem;
  font-weight: 700; }
  .header__link:hover {
    background-color: #fff;
    color: #000 !important; }

@media screen and (min-width: 768px) {
  .header__logo {
    height: 9rem; } }

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 0 1rem; }

.footer__logo {
  height: 5rem; }

.footer__lista {
  display: flex;
  align-items: center;
  padding: 1rem; }

.footer__redes {
  filter: invert(0.8);
  padding: 0 1rem; }

.footer__facebook {
  height: 2.5rem; }

.footer__instagram {
  height: 2rem; }

.footer__whatsapp {
  height: 3rem; }

.footer__youtube {
  height: 2.5rem; }

.footer__linkedin {
  height: 2.5rem; }

@media screen and (min-width: 768px) {
  .footer {
    padding: 0 5rem; }
  .footer__logo {
    height: 7rem; }
  .footer__lista {
    display: flex;
    align-items: center;
    padding: 0; } }

/* CONTENEDORES */
.contenedor, .main__menu {
  background-image: radial-gradient(#8d8c8c, #3d3d3d);
  padding: 5rem;
  margin: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 0px black;
  text-align: center;
  border: solid 2px black;
  animation-name: opacidad_fondo;
  animation-duration: 3s;
  animation-delay: 0s; }

@media screen and (min-width: 768px) {
  .contenedor, .main__menu {
    margin: 5rem; } }

/* PAGINA INICIO */
/* Imagen y texto inicio */
.inicio {
  background-image: url(../img/imagen_principal.jpg);
  background-position: center;
  background-size: cover;
  animation-name: opacidad_fondo;
  animation-duration: 3s;
  animation-delay: 0s; }

.inicio__contenido {
  background-color: #00000080;
  padding: 10rem; }

.inicio__texto {
  text-transform: none;
  font-style: italic;
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  animation-name: opacidad;
  animation-duration: 1.5s;
  animation-delay: 0s; }

@media screen and (min-width: 768px) {
  .inicio__texto {
    font-size: 5rem; }
  .inicio__contenido {
    padding: 18rem; } }

/* Titulos articulos */
.local__titulo, .filtrados__titulo, .lugar__titulo {
  font-style: italic;
  font-size: 2rem;
  font-weight: 900;
  margin: 0 auto; }

@media screen and (min-width: 768px) {
  .local__titulo, .filtrados__titulo, .lugar__titulo {
    font-size: 4rem;
    font-weight: 700; } }

/* Textos articulos */
.local__texto, .filtrados__texto {
  font-size: 1.5rem;
  font-weight: 400; }

@media screen and (min-width: 768px) {
  .local__texto, .filtrados__texto {
    font-size: 2rem; } }

/* imagenes */
.local__imagenes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem; }

@media screen and (min-width: 768px) {
  .local__imagenes {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem; } }

@media screen and (min-width: 1024px) {
  .local__imagenes {
    grid-template-columns: repeat(3, 1fr); } }

/* Local */
.imagen__local {
  padding: 0;
  width: 100%;
  border-radius: 0.5rem;
  transition-duration: .3s; }
  .imagen__local:hover {
    box-shadow: 0px 5px 10px 0px black;
    transition-duration: .3s; }

/* Filtrados */
/* Cafeteras */
.cafetera__imagen {
  margin-bottom: 2rem;
  height: 10rem;
  filter: invert(0.15);
  z-index: 0; }

.cafeteras__titulo {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase; }

@media screen and (min-width: 768px) {
  .cafetera__imagen {
    height: 15rem; }
  .cafeteras__titulo {
    font-size: 2rem; } }

/* Lugar */
.lugar__texto {
  font-size: 1.5rem;
  margin-bottom: 2rem; }

iframe {
  border-radius: 0.5rem;
  width: 30rem;
  height: 25rem; }

.lugar--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 1rem;
  line-height: 1.5rem;
  border-radius: 0.5rem; }

.lugar__subtitulo {
  margin: 1rem 0; }

.lugar__subtexto {
  margin: 0; }

@media screen and (min-width: 768px) {
  .lugar--flex {
    padding: 2rem;
    border: solid 2px black;
    margin: 2rem; }
  iframe {
    width: 35rem;
    height: 30rem; } }

@media screen and (min-width: 1024px) {
  .lugar--flex {
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;
    margin: 4rem;
    border-radius: 0.5rem; }
  iframe {
    margin-left: 2rem; } }

/* PAGINA NOSOTROS */
.main__nosotros {
  padding: 3rem;
  background-image: url(../img/cafeteria3.jpg);
  background-position: center center;
  background-size: cover;
  animation-name: opacidad_fondo;
  animation-duration: 3s;
  animation-delay: 0s; }

.main__contenido {
  backdrop-filter: blur(5px); }

/* PAGINA MENU */
@media screen and (min-width: 768px) {
  .contenedor__listaCafe {
    border: solid 2px #363636;
    border-radius: 0.5rem;
    padding: 1rem; } }

.lista__cafe {
  display: inline-block;
  list-style-type: circle; }

table {
  margin: 1rem 0;
  background-color: #4e4e4e;
  font-size: 1.5rem;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px 0px black;
  text-align: left; }

td {
  border-radius: 0.5rem; }

tr:nth-child(even) {
  background-color: #685745; }

.p__cafe {
  font-size: 1.5rem; }

/* PAGINA BLOG */
.div__blog {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 0px black;
  text-align: center;
  padding: 2rem;
  box-sizing: content-box;
  width: 100%;
  margin: 1rem -2rem;
  align-items: center;
  animation-name: opacidad;
  animation-duration: 1.5s;
  animation-delay: 0s; }

.imagen__blog {
  width: 95%;
  height: auto;
  margin: 1rem;
  border-radius: 0.5rem; }

.titulo__blog {
  font-size: 2rem; }

.texto__blog {
  font-size: 1rem;
  box-sizing: content-box;
  margin-bottom: 2rem; }

.boton__blog {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  position: relative;
  right: 20px;
  margin: 0 2rem;
  height: 4rem;
  width: 100%;
  transition-duration: .3s; }
  .boton__blog:hover {
    border: solid 1px #000;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition-duration: .3s; }

.contenedor__textoBlog {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 2rem; }

@media screen and (min-width: 500px) {
  .div__blog {
    flex-direction: row;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: solid 2px black;
    text-align: center;
    padding: 1rem;
    box-sizing: content-box;
    width: 100%;
    margin: 2rem 0;
    align-items: center; }
  .imagen__blog {
    width: 40%; } }

@media screen and (min-width: 1024px) {
  .div__blog {
    width: 95%;
    padding: 0;
    overflow: hidden; }
  .article__blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; }
  .titulo__blog {
    margin: 0;
    font-size: 1.5rem; }
  .texto__blog {
    font-size: 1rem;
    box-sizing: content-box; }
  .imagen__blog {
    width: 50%;
    height: 190px;
    margin: 0;
    border-radius: 0; } }

/* PAGINA CONTACTO */
.main__contacto--display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media screen and (min-width: 1024px) {
  .main__contacto--display {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start; } }

.mapa__ubicacion {
  height: auto;
  width: 25rem; }

@media screen and (min-width: 360px) {
  .mapa__ubicacion {
    height: 25rem;
    width: auto; } }

/*Ubicacion */
.article__ubicacion {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  text-align: left;
  line-height: 1.5rem; }
  .article__ubicacion ul {
    display: flex;
    justify-content: flex-start;
    align-items: center; }

@media screen and (min-width: 1024px) {
  .article__ubicacion {
    position: relative;
    left: 2rem; } }

.h3__ubicacion {
  font-size: 2rem; }

.p__ubicacion {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem; }

.footer__redes--filter {
  filter: invert(1);
  padding: 0 1rem; }

/* Formulario */
.contenedor__formulario {
  border: solid 2px black;
  border-radius: 0.5rem;
  background-color: #b6b6b6; }

input[type='text'], [type='number'], [type='email'], textarea {
  background: none;
  border: none;
  border-bottom: solid 2px black;
  margin-bottom: 2rem; }

.form-check {
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }
