$fuente-principal: 'montserrat', sans-serif;
$font-weight: (fuente-light: 400, fuente-bold: 700, fuente-bolder: 900);
$fuente-italic: italic;
$fuente-grande: 5rem;
$fuente-mediana: 2rem;
$fuente-chica: 1.5rem;
$mayuscula: uppercase;
$interlineado: 1.5rem;
$sin-estilo: none;
$color-principal: #8d8c8c;
$color-formulario: #b6b6b6;
$color-tablaPrincipal: #4e4e4e;
$color-tablaSecundario: #685745;
$filtro-imagenPrincipal: #00000080;
$negro: #000;
$gradiente: linear-gradient(#4e4e4e,$color-principal, $negro);
$sombra-contenedores: 0px 5px 10px 0px rgb(0, 0, 0 / 63%);
$borde-contenedores: solid 2px black;
$borde-contenedorClaro: solid 2px #363636;
$borde-botones: solid 1px #000;
$borde-redondeado: .5rem;
$borde-masRedondeado: 1rem;
$blanco: #fff;

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}